<%= javascript_tag "var userName = '#{User.data(params[:user_id]).login}';" %>
<%= javascript_tag "var repoName = '#{User.specific_repo_data(params[:user_id], params[:id]).name}';" %>

<div class="repo-data">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <h5>name:</h5>
        <p class="red-text" id="repoName"></p><br>
        <h5>description:</h5>
        <p class="red-text" id="repoDescription"></p><br>
        <h5>size:</h5>
        <p class="red-text" id="repoSize"></p><br>
        <h5>primary language:</h5>
        <p class="red-text" id="repoLanguage"></p><br>
      </div>
      <div class="col s3">
        <table class="bordered highlight">
          <tr>
            <th>watchers:</th>
            <td id="repoWatchers"></td>
          </tr>
          <tr>
            <th>commits:</th>
            <td id="commitCount"></td>
          </tr>
          <tr>
            <th>forks:</th>
            <td id="repoForks"></td>
          </tr>
          <tr>
            <th>open issues:</th>
            <td id="repoOpenIssues"></td>
          </tr>
          <tr>
            <th>contributors:</th>
            <td id="repoContributors"></td>
          </tr>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center small-top-margin graph-selection">
        <button id="contributorGraphButton" type="button" class="btn blue btn-small">contributor</button>
        <button id="languageGraphButton" type="button" class="btn blue btn-small">language</button>
        <button id="commitGraphButton" type="button" class="btn blue btn-small">commit</button>
        <button id="freqeuncyGraphButton" type="button" class="btn blue btn-small">frequency</button>
      </div>
    </div>
  </div>
</div>
<div class="repo-graphs">
  <div class="container">
    <div class="graphs center">
      <h5>your graphs will appear here!</h5>
      <div class="hidden" id="languageDataGraph">
        <h6>Shows the breakdown of what languages are used in the repo</h6><br>
        <div class="languageLoader large-top-margin center">
          <%= image_tag("loader.svg") %>
        </div>
      </div>
      <div class="hidden" id="contributorDataGraph">
        <h6>Shows the breakdown of who has contributed to the repo</h6><br>
        <div class="contributorLoader large-top-margin center">
          <%= image_tag("loader.svg") %>
        </div>
      </div>
      <div class="hidden" id="commitGraph">
        <h6>Compares the amount of</h6><h6 class="text-blue"> commits </h6><h6>against time in the past year</h6><br>
        <div class="commitLoader large-top-margin center">
          <%= image_tag("loader.svg") %>
        </div>
      </div>
      <div class="hidden" id="frequencyGraph">
        <h6>Shows the amount of code deleted in</h6><h6 class="text-red"> red </h6><h6>and added in</h6><h6 class="text-green"> green </h6><h6>per week</h6><br>
        <div class="frequencyLoader large-top-margin center">
          <%= image_tag("loader.svg") %>
        </div>
      </div>
    </div>
  </div>
</div>
