<div class="container center">
  <h3>Better Graphs for Github!</h3>
  <h5 class="grey-text text-lighten-1">
    GitBetter Graphs consumes the Github API to display, and graphically represent
    data for Github users, commits, repositories, and more. This service is perfect for
    developers who want a better view into the data associated with their Github
    accounts. It's also tailored to recruiters and employers for gathering data
    on potential employees. Click <%= link_to "login", login_path %> to get started!
  </h5>
  <div class="slider small-top-margin">
    <ul class="slides">
      <li>
        <%= image_tag('graph_one.png') %>
      </li>
      <li>
        <%= image_tag('graph_two.png') %>
      </li>
      <li>
        <%= image_tag('graph_three.png') %>
      </li>
      <li>
        <%= image_tag('graph_four.png') %>
      </li>
    </ul>
  </div>
</div>
<%= render partial: 'partials/footer' %>
