<!DOCTYPE html>
<html>
<head>
  <title>GitBetterGraphs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'partials/nav' %>
  <% flash.each do |type, msg| %>
  <div class="flash_<%= type %>">
    <%= content_tag :p, msg, class: 'hidden' %>
    <script type="text/javascript">
      Materialize.toast('<%= sanitize(msg) %>', 5000, 'rounded <%= "flash_#{type}" %>');
    </script>
  </div>
  <% end %>  <%= yield %>
</body>
</html>
